/* removing extra size border and marging */
*{
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
}
/* removing extra size border and marging */

/* background color added to main background container */
.landingpage-main-conatiner{
    background-color: #add8e6;
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 30px;
}
/* background color added to main background container */

/* image size declaration section */
.logo-img{
    height: 275px;
    width: 225px;
}
/* image size declaration section */


.landing-page-login-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing-page-login-details-container{
    display: flex;
    flex-direction: column;
}