/* universal values for margin, padding */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* universal values for margin, padding */

a{
    text-decoration: none;
}

header{
    background-color: #fa8072;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logo-img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}



.header-container{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-container div{
    display: flex;
    justify-content: center;
    gap: 20px;
}